
<script type="text/template" id="BodyListTmpelate">
    <li>
        <!-- 名称 -->
        <div class="storename box box-horizontal">
            <a href="/fireh5/company/repairrecord/toRepairrecord.do?checkId=${checkId}" class="name box1">设备类型：${deviceType}</a>
            <a href="/fireh5/company/repairrecord/toRepairrecord.do?checkId=${checkId}"><div class="pay-way">
{{if status==1}}
详情
{{else status==0}}
整改
{{/if}}
</div></a>
        </div>
        <!-- //店铺名称 -->
        <!--标题-->
        <div class="title">
            <a href="" class="box box-horizontal">
                <div class="box1">
                    <span class="num">
                        问题描述：<em>${description}
                    </span>
                </div>
            </a>
        </div>
 <!--标题-->
 
 <div class="order-tool">
			<div class="order-time">负责人：<em>${name}</em></div>
            <div class="info">状态：<em>
{{if status==1}}
已整改
{{else status==0}}
待整改
{{/if}}
</em></div>
        </div>
        <div class="order-tool">
			<div class="order-time">任务创建时间：<em>${addTime}</em></div>
			<div class="info">任务期限：<em>${predictTime}</em></div>
        </div>
    </li>
</script>
