
<script type="text/template" id="BodyListTmpelate">
    <li>
        <!-- 名称 -->
        <div class="storename box box-horizontal">
            <a  class="name box1">管理员名称：${userName}</a>
            <a onclick="frm.del(${id},load,'/company/authBind/delete.do');"><div class="pay-way">解绑
</div></a>
        </div>
        <!-- //店铺名称 -->
        <!--标题-->
        <div class="title">
            <a href="" class="box box-horizontal">
                <div class="box1">
                    <span class="num">
                        	微信账号：<em>${nickName}(${openId})</em>
                    </span>
                </div>
            </a>
        </div>
 <!--标题-->
</script>
