
<script type="text/template" id="BodyListTmpelate">
  
    <li>
        <!-- 名称 -->
        <div class="storename box box-horizontal">
            <a href="javascript:void(0);" class="name box1">管理员：${managerName}</a>
            {{if (userId==0)}}<a href="/fireh5/company/check/toSendAssignment.do?checkId=${id}">
			<div class="pay-way">指派</div></a>{{/if}}
        </div>
        <!-- //店铺名称 -->
        <!--标题-->
        <div class="title">
            <a href="" class="box box-horizontal">
                <div class="box1">
                    <span class="num">
                        
                    </span>
                </div>
            </a>
        </div>
 <!--标题-->
 
 <div class="order-tool">
            <div class="order-time">设备类型：<em>${name}</em></div>
			<div class="info">设备型号：${model}</div>
        </div>
        <div class="order-tool">
            <div class="order-time">设备问题：${description}</div>
			<div class="info">检查时间：${addTime}</div>
        </div>
        <div class="order-tool">
            <div class="order-time">问题等级：${severityLevelDes}</div>
			<div class="info">设备状态：${statusDes}</div>
        </div>
    </li>
</script>
