
<script type="text/template" id="BodyListTmpelate">
  
    <li>
        <!-- 名称 -->
        <div class="storename box box-horizontal">
            <a href="javascript:void(0);" class="name box1">设备类型：${name}</a>
            <a href="/fireh5/company/device/toDevice.do?Id=${id}"><div class="pay-way" style="display:none">修改</div></a>
        </div>
        <!-- //店铺名称 -->
        <!--标题-->
        <div class="title">
            <a href="" class="box box-horizontal">
                <div class="box1">
                    <span class="num">
                        
                    </span>
                </div>
            </a>
        </div>
 <!--标题-->
 
 <div class="order-tool">
            <div class="order-time">设备型号：<em>${model}</em></div>
			<div class="info">制造商：${manufacturer}</div>
        </div>
        <div class="order-tool">
            <div class="order-time">设备规格：${spec}</div>
			<div class="info">录入时间：${addTime}</div>
        </div>
   		<div class="order-tool">
            <div class="order-time">安装位置：
				{{if buildings!=0}}
				${buildings}栋
				{{/if}}
				${floor}楼
				${dict.position[(position)]}
				${dict.passageway[(passageway)]}</div>
			<div class="info"></div>
        </div>
      
     
        <!--//订单概括-->
        <!--按钮-->
        <!--<div class="button">
            <a href="javascript:void(0);" class="btn black">备注</a>
            <a href="javascript:void(0);" class="btn">打印</a>
            <a href="javascript:void(0);" class="btn">查看物流</a>
        </div>-->
        <!--//按钮-->
    </li>
</script>

<script type="text/template" id="bodyListTemplate1">
        <tr>
            <td><div class="string center">${name}</div></td>
            <td><div class="string center">${model}</div></td>
            <td><div class="string center">${manufacturer}</div></td>
            <td><div class="string center">${spec}</div></td>
            <td><div class="string">
{{if buildings!=0}}
${buildings}栋
{{/if}}
${floor}楼
${dict.position[(position)]}
${dict.passageway[(passageway)]}
</div></td>
            <td><div class="string center">${addTime}</div></td>
            <td>
                <div class="tool" onmouseover="tableTool.over(this);" onmouseout="tableTool.out(this);">
                    <!--标题栏-->
                    <p class="name">操作</p>
                    <!--//标题栏-->

                    <div class="tool-menu">
                        <ul>
                            
                            <li>
                                <a href="javascript:void(0);" onclick="frm.update({ title: '修改单位', formId: 'DeviceFormTemplate', id: ${id}, url:'/company/device/getDevice.do', callback: device.updateDevice , width: 700, height: 400,finish: device.deviceFinish});">修改</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" onclick="frm.del(${id},load,'/company/device/delete.do');">删除</a>
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        
    </script>

<script type="text/x-jquery-tmpl" id="DeviceTypeParameterFormTemplate">

<li class="box box-horizontal aptitude-info">
	<p class="name">
		{{if (required=="1")}} <em class="red">*</em>{{/if}}${description}：
     </p>

	<div class="edit-box box1">
		{{if (editorType=="text")}}
		<div class="inputbox">
			<input type="text" id="parameter_${id}" error="输入格式不正确！" validate="{{if (required=="1")}} isnull{{/if}}" maxlength="20" value="" />
		</div>
		{{else (editorType=="texts")}} {{each(j,child) candidate}}
		<div class="inputbox" style="width: 55px;padding-right:10px">
			<input type="text"  placeholder="${child.Field}" id="parameter_${id}_${j}" error="输入格式不正确！" validate="{{if (required=="1")}} isnull{{/if}}" maxlength="20" value="" />
		</div>
		{{/each}}
       {{else (editorType=="select")}}
		<div class="selectarea">
			<div class="selectbox">
				<select id="parameter_${id}" error="请选择！" validate="{{if (required=="1")}} isnull{{/if}}">
					{{each(j,child) candidate}}
					<option value="${child.Value}">${child.Field}</option> {{/each}}
				</select>
			</div>
		</div>
		{{else (editorType=="upload")}}
		<div class="aptitude box1">
							<ol id="logo-pic">
								<li class="update" id="btnWxImage"><a class="update-btn"
									href="javascript:void(0);"></a></li>
<li><a href="javascript:void(0);" id="wxpic" ><img src="%URL%"  alt=""/></a></li>
							</ol>
		</div>

		{{/if}}
	</div>
</li>

    </script>
