
    <!--底部组件-->
    <footer class="custom-foot">
        <!--标准导航链接-->
        <div class="foot-link">
            <ul class="box box-horizontal">
                <li class="box1" id="Default2b">
                    <a href="/default.aspx?fkway=2">
                        <i class="icon main"></i>
                        <em>我的检修</em>
                    </a>
                </li>
                <li class="box1" id="Category">
                    <a href="/Supplier/Product/Category.aspx">
                        <i class="icon classes"></i>
                        <em>我的任务</em>
                    </a>
                </li>
                <li class="box1" id="OftenBuyList">
                    <a href="/Supplier/Trade/OftenBuyList.aspx">
                        <i class="icon fast-buy"></i>
                        <em>录入设备</em>
                    </a>
                </li>
                <li class="box1" id="Cart">
                    <a href="/Supplier/Trade/Cart.aspx">
                        <i class="icon stockcar" id="buycar-icon">
                            <s id="icon_Cart_Quantity"></s>
                        </i>
                        <em>检修设备</em>
                    </a>
                </li>
                <li class="box1" id="Main">
                    <a href="/WebStore/Main.aspx">
                        <i class="icon shopcenter"></i>
                        <em>单位中心</em>
                    </a>
                </li>
            </ul>
        </div>
        <!--//标准导航链接-->
    </footer>
  
   